services:
 # ----------------------------------------
 # MEDNA-LIMS
 # ----------------------------------------
  medna_metadata_web:
    restart: always
    image: ghcr.io/${USERNAME}/${REPO_NAME}:${APP_VERSION:-latest}
    container_name: medna_metadata_web
    ports:
      - 8000:8000
    env_file:
      - 'medna.env'
      - 'django.env'
    volumes:
      - 'static_volume:/home/django/medna-metadata/static/'
    depends_on:
      - medna_metadata_pgdb
  # ----------------------------------------
  # MEDNA-METADATA-POSTGIS
  # command: update-postgis.sh
  # ----------------------------------------
  medna_metadata_pgdb:
    restart: always
    image: postgis/postgis:12-master
    container_name: medna_metadata_pgdb
    ports:
      - 5432:5432     # expose ports - HOST:CONTAINER
    env_file:
      - 'medna.env.db'
    volumes:
      - 'postgres_data:/var/lib/postgresql/data/'
 # ----------------------------------------
 # MEDNA-METADATA-RABBITMQ
 # ----------------------------------------
  # medna_metadata_rabbitmq:
  #   restart: always
  #   image: rabbitmq:3.8.29-management
  #   container_name: medna_metadata_rabbitmq
  #   ports:
  #     - 5672:5672
  #     - 15672:15672
  #   env_file:
  #     - 'medna.env'
  #   volumes:
  #     - 'rabbitmq_data:/var/lib/rabbitmq/'
  #     - 'rabbitmq_logs:/var/log/rabbitmq/'
 # ----------------------------------------
 # MEDNA-METADATA-CELERYWORKER
 # ----------------------------------------
#   medna_metadata_celeryworker:
#     restart: always
#     build:
#       context: '../'
#       dockerfile: 'docker/web/Dockerfile'
#     container_name: medna_metadata_celeryworker
#     command: /home/django/celeryworker_start.sh
#     env_file:
#       - 'medna.env'
#     volumes:
#       - '../:/home/django/medna-metadata/'
#       - 'static_volume:/home/django/medna-metadata/static/'
#     depends_on:
#       - medna_metadata_pgdb
#       - medna_metadata_rabbitmq
#       - medna_metadata_web
#  # ----------------------------------------
#  # MEDNA-METADATA-CELERYBEAT
#  # ----------------------------------------
#   medna_metadata_celerybeat:
#     restart: always
#     build:
#       context: '../'
#       dockerfile: 'docker/web/Dockerfile'
#     container_name: medna_metadata_celerybeat
#     command: /home/django/celerybeat_start.sh
#     env_file:
#       - 'medna.env'
#     volumes:
#       - '../:/home/django/medna-metadata/'
#     depends_on:
#       - medna_metadata_pgdb
#       - medna_metadata_rabbitmq
#       - medna_metadata_web
#       - medna_metadata_celeryworker
  # ----------------------------------------
  # NGINX
  # ----------------------------------------
  nginx:
    restart: always
    image: nginx:1.21-alpine
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    env_file:
      - 'medna.env'
    volumes:
      - 'static_volume:/home/django/medna-metadata/static/'
      - 'media_volume:/home/django/medna-metadata/media/'
      - './nginx/default.conf:/etc/nginx/conf.d/default.conf'
      - '/var/run/docker.sock:/tmp/docker.sock:ro'
      # Shared volumes for SSL certificates and verification
      - ./certbot/conf/:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    depends_on:
      - medna_metadata_web
      - certbot
  # ----------------------------------------
  # CERTBOT - SSL Certificate Management
  # ----------------------------------------
  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
    # This entrypoint checks for renewal every 12 hours
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  postgres_data:
  # rabbitmq_data:
  # rabbitmq_logs:
  static_volume:
  media_volume: